/* CSS of Unicalc Page */

#squid-heading {
    background-color: #FFBD2F;
    padding: 30% 20% 10%;
}

.squid-title {
    color: white;
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 3.5rem;
}

/* short description */

#short-description {
    padding: 10% 15%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.66;
}

.summary-col {
    padding: 0 5%;
}

.summary-box {
    background-color: #FFBD2F;
    color: white;
    padding: 50px 60px;
    border-radius: 10px;
    box-shadow: 0 0 19px #0000003d;
}

.summary-heading {
    font-size: 2rem;
    font-weight: 700;
}

.figma-img {
    margin: 10px 5px 10px 10px;
    width: 20px;
}

.figma-img-text {
    width: 50px;
}

.flutter-img {
    margin: 10px;
    width: 75px;
}

.firebase-img {
    margin: 10px;
    width: 80px;
}

/* Background Story */

#background-story {
    padding: 7% 15%;
    background-color: #FFBD2F;

}

.image-col {
    padding: 0 0 60px;
}

.background-col {
    padding-left: 10%;
}

.phone-img-1 {

    max-width: 300px;
}

.story {
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    line-height: 1.66;
}

.story-headline {
    color: white;
    padding: 0 0 20px;
}

/* Solution */

#solution {
    padding: 7% 15%;
}

.solution-text {
    padding-bottom: 60px;
}

.solution-headline {
    padding-bottom: 20px;
}

.phone-img-2 {
    max-width: 300px;
}


/* Footer */

.squid-footer {
    background-color: #FFBD2F;
    color: white;
    padding: 5% 15% 3%;
}

.contact-col {
    text-align: left;
}

.intersted-heading {
    margin-bottom: 30px;
}

.light-link-squid {
    text-decoration: none;
    color: white;
}


.light-link-squid:hover {
    text-decoration: none;
    color: grey;
}

.right-links {
    padding: 50px 0;
    text-align: end;
}